<div class="main-area">
    <div class="main-form-container">
        <div class="main-form">
            <div class="main-form-center">
                <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <ng-template matStepLabel>Verify Identity</ng-template>
                        <form  [formGroup]="firstFormGroup" class="mt-2">
                            <h2 class="tip">
                                <span><i class="fa-solid fa-circle-info" style="font-size: 20px;"></i></span>&nbsp;
                                Please enter the email address of the account to retrieve your password.
                            </h2>
                            <div class="row center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Email Address:</label>
                                </div>
                                <div class="col-5">
                                    <input id="field-3" type="email" class="form-control" formControlName="email" (keyup)="checkEmail($event)">
                                    <div *ngIf="firstFormGroup.get('email')?.errors && firstFormGroup.get('email')?.touched">
                                        <div *ngIf="firstFormGroup.get('email')?.hasError('required')" class="text-danger">Email is required.</div>
                                        <div *ngIf="firstFormGroup.get('email')?.hasError('invalidEmail')" class="text-danger">Enter a valid email address
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="center-button mt-5">
                                <button type="button" class="btn btn-primary" style="width:120px; cursor:pointer;" [disabled]="disableNext"  matStepperNext>Submit</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" [completed]="isCompletedMail" state="number">
                        <ng-template matStepLabel>Reset Password</ng-template>
                        <form  [formGroup]="secondFormGroup" class="mt-4">
                            <div class="row mt-4 center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Verification Code:</label>
                                </div>
                                <div class="col-5">
                                    <div class="input-button-container">
                                      <div class="input-container">
                                        <input id="field-3" type="text" class="form-control" formControlName="code">
                                      </div>
                                      <div class="button-container">
                                        <button type="button" class="btn" style="background-color: #1890ff; color: white;">Send</button>
                                      </div>
                                    </div>
                                  </div>                                                                                                                           
                            </div>
                            <div class="row mt-4 center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Password:</label>
                                </div>
                                <div class="col-5">
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" class="form-control p-2" formControlName="password" (keyup)="password($event)" [ngClass]="{'valid-password': secondFormGroup.get('password')?.valid, 'invalid-password': secondFormGroup.get('password')?.invalid}">
                                        <div class="input-group-text pass-group" data-password="false">
                                            <span class="fa fa-eye" style="cursor: pointer;" *ngIf="!show_password"
                                                (click)="showpassword('password', this)"></span>
                                            <span class="ri-eye-off-line" style="cursor: pointer;"
                                                (click)="showpassword('password', this)" *ngIf="show_password"></span>
                                        </div>
                                        
                                    </div>
                                    <div *ngIf="showP">
                                        <ul [ngStyle]="{'height': showP ? '120px' : '0px'}">
                                            <li *ngIf="secondFormGroup.get('password')?.hasError('minlength')" class="password-error">
                                                Password must be at least 8 characters long.
                                            </li>
                                            <li *ngIf="secondFormGroup.get('password')?.hasError('noNumber')" class="password-error">
                                                Password must contain at least 1 number.
                                            </li>
                                            <li *ngIf="secondFormGroup.get('password')?.hasError('noCapital')" class="password-error">
                                                Password must contain at least 1 capital letter.
                                            </li>
                                            <li *ngIf="secondFormGroup.get('password')?.hasError('noSmall')" class="password-error">
                                                Password must contain at least 1 small letter.
                                            </li>
                                            <li *ngIf="secondFormGroup.get('password')?.hasError('noSpecial')" class="password-error">
                                                Password must contain at least 1 special character.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row mt-4 center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Confirm Password:</label>
                                </div>
                                <div class="col-5">
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password1" class="form-control p-2" formControlName="confirmPassword" (keyup)="confirmPassword($event)"
                                         [ngClass]="{'valid-password': secondFormGroup.get('confirmPassword')?.valid, 'invalid-password': secondFormGroup.get('confirmPassword')?.invalid}">
                                        <div class="input-group-text pass-group" data-password="false">
                                            <span class="fa fa-eye" style="cursor: pointer;" *ngIf="!showPassword"
                                                (click)="showConfirmPassword('password1', this)"></span>
                                            <span class="ri-eye-off-line" style="cursor: pointer;"
                                                (click)="showConfirmPassword('password1', this)" *ngIf="showPassword"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="showCP">
                                        <ul [ngStyle]="{'height': showCP ? '110px' : '0px'}">
                                            <li *ngIf="secondFormGroup.get('confirmPassword')?.hasError('minlength')" class="password-error">
                                                Password must be at least 8 characters long.
                                            </li>
                                            <li *ngIf="secondFormGroup.get('confirmPassword')?.hasError('noNumber')" class="password-error">
                                                Password must contain at least 1 number.
                                            </li>
                                            <li *ngIf="secondFormGroup.get('confirmPassword')?.hasError('noCapital')" class="password-error">
                                                Password must contain at least 1 capital letter.
                                            </li>
                                            <li *ngIf="secondFormGroup.get('confirmPassword')?.hasError('noSmall')" class="password-error">
                                                Password must contain at least 1 small letter.
                                            </li>
                                            <li *ngIf="secondFormGroup.get('confirmPassword')?.hasError('noSpecial')" class="password-error">
                                                Password must contain at least 1 special character.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="center-button mt-4">
                                <button type="button" class="btn btn-primary" style="width:120px; cursor:pointer;" [disabled]="disableFinish" (click)="onNext(true)" matStepperNext>Submit</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="thirdFormGroup" state="number">
                        <ng-template matStepLabel>Finished</ng-template>
                        <div class="mt-2 center-button">
                            Password Changed Succesfully!!
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>