.index-container{
    min-width: 1160px;
    width: 100%;
}

.main-area{
    z-index: 999;
    position: fixed;
    top: 55px;
    bottom: 111px;
    width: 100%;
}

.main-form-container{
    background: #fff;
    width: 100%;
    height: 100%;
    min-height: 570px;
    min-width: 1160px;
}

.main-form{
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    background: url(../../../assets/images/FORM-Image.png) no-repeat;
    background-position: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form-center{
    width: 900px;
    height: 470px;
    margin: 0 auto;
}

.center-button {
    display: flex;
    justify-content: center;
}

.password-error {
    color: red;
    margin-top: 5px;
  }

  ul {  
    list-style-type: none; 

    }  
li{
    font-size: 14px;
}

::ng-deep .mat-horizontal-content-container{
    display: contents !important;
    margin-bottom: 10px !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
    padding: 0 !important;
}
button{
    border-color:#1890ff !important;
    background-color:#1890ff !important;
}