<div class="main-area">
    <div class="main-form-container">
        <!-- <div class="main-form"> -->
            <div class="main-form-center">
                <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <ng-template matStepLabel>Create Account</ng-template>
                        <form  [formGroup]="firstFormGroup" class="mt-4">
                            <div class="row center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> First Name:</label>
                                </div>
                                <div class="col-5">
                                    <input id="field-3" type="text" class="form-control" formControlName="first_name">
                                    <div *ngIf="firstFormGroup.get('first_name')?.errors && firstFormGroup.get('first_name')?.touched">
                                        <div *ngIf="firstFormGroup.get('first_name')?.hasError('required')" class="text-danger">First Name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row center-button mt-3">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Last Name:</label>
                                </div>
                                <div class="col-5">
                                    <input id="field-3" type="text" class="form-control" formControlName="last_name">
                                    <div *ngIf="firstFormGroup.get('last_name')?.errors && firstFormGroup.get('last_name')?.touched">
                                        <div *ngIf="firstFormGroup.get('last_name')?.hasError('required')" class="text-danger">Last Name is required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Email Address:</label>
                                </div>
                                <div class="col-5">
                                    <input id="field-3" type="email" class="form-control" formControlName="email">
                                    <div *ngIf="firstFormGroup.get('email')?.errors && firstFormGroup.get('email')?.touched">
                                        <div *ngIf="firstFormGroup.get('email')?.hasError('required')" class="text-danger">Email is required.</div>
                                        <div *ngIf="firstFormGroup.get('email')?.hasError('invalidEmail')" class="text-danger">Enter a valid email address
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Password:</label>
                                </div>
                                <div class="col-5">
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" class="form-control p-2" formControlName="password" (keyup)="password($event)" 
                                        [ngClass]="{'valid-password': firstFormGroup.get('password')?.valid, 'invalid-password': firstFormGroup.get('password')?.invalid}">
                                        <div class="input-group-text pass-group" data-password="false">
                                            <span class="fa fa-eye" style="cursor: pointer;" *ngIf="!show_password"
                                                (click)="showpassword('password', this)"></span>
                                            <span class="ri-eye-off-line" style="cursor: pointer;"
                                                (click)="showpassword('password', this)" *ngIf="show_password"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="showP">
                                        <ul [ngStyle]="{'height': showP ? '70px' : '0px'}">
                                            <li *ngIf="firstFormGroup.get('password')?.hasError('minlength')" class="password-error">
                                                Password must be at least 8 characters long.
                                            </li>
                                            <li *ngIf="firstFormGroup.get('password')?.hasError('noNumber')" class="password-error">
                                                Password must contain at least 1 number.
                                            </li>
                                            <li *ngIf="firstFormGroup.get('password')?.hasError('noCapital')" class="password-error">
                                                Password must contain at least 1 capital letter.
                                            </li>
                                            <li *ngIf="firstFormGroup.get('password')?.hasError('noSmall')" class="password-error">
                                                Password must contain at least 1 small letter.
                                            </li>
                                            <li *ngIf="firstFormGroup.get('password')?.hasError('noSpecial')" class="password-error">
                                                Password must contain at least 1 special character.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Confirm Password:</label>
                                </div>
                                <div class="col-5">
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password1" class="form-control p-2" formControlName="confirmPassword" (keyup)="confirmPassword($event)"
                                        [ngClass]="{'valid-password': firstFormGroup.get('confirmPassword')?.valid, 'invalid-password': firstFormGroup.get('confirmPassword')?.invalid}">
                                        <div class="input-group-text pass-group" data-password="false">
                                            <span class="fa fa-eye" style="cursor: pointer;" *ngIf="!showPassword"
                                                (click)="showConfirmPassword('password1', this)"></span>
                                            <span class="ri-eye-off-line" style="cursor: pointer;"
                                                (click)="showConfirmPassword('password1', this)" *ngIf="showPassword"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="showCP">
                                        <ul [ngStyle]="{'height': showCP ? '70px' : '0px'}">
                                            <li *ngIf="firstFormGroup.get('confirmPassword')?.hasError('minlength')" class="password-error">
                                                Password must be at least 8 characters long.
                                            </li>
                                            <li *ngIf="firstFormGroup.get('confirmPassword')?.hasError('noNumber')" class="password-error">
                                                Password must contain at least 1 number.
                                            </li>
                                            <li *ngIf="firstFormGroup.get('confirmPassword')?.hasError('noCapital')" class="password-error">
                                                Password must contain at least 1 capital letter.
                                            </li>
                                            <li *ngIf="firstFormGroup.get('confirmPassword')?.hasError('noSmall')" class="password-error">
                                                Password must contain at least 1 small letter.
                                            </li>
                                            <li *ngIf="firstFormGroup.get('confirmPassword')?.hasError('noSpecial')" class="password-error">
                                                Password must contain at least 1 special character.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Server: <span> <i class="ri-question-line" style="font-size: 18px; margin-top:14px;"></i></span></label>
                                </div>
                                <div class="col-5">
                                    <select formControlName="server" class="form-select" style="cursor: pointer;">
                                        <option value="Asia">Asia</option>
                                        <option value="Europe">Europe</option>
                                      </select>
                                </div>
                            </div>
                            <div class="row mt-2 center-button">
                                <div class="col-3 mt-4">
                                    <input type="checkbox" style="float:right; cursor:pointer;" (change)="selectConditions($event)">
                                </div>
                               
                                <div class="col-6 mt-3">
                                   <p style="font-weight: bold; font-size:13px;">I agree to Thinkitive IoT Cloud's <span style="color:#1890ff;">Terms</span> and <span style="color:#1890ff;">privacy policy</span> and to receive information about Milesight's products.</p>
                                </div>
                            </div>
                            <div *ngIf="showRegisterError" class="alert alert-danger mt-3" role="alert" style="width: initial; height: 45px; text-align: center !important;">
                                {{message}}
                            </div>
                            <div class="center-button">
                                <button type="button" class="btn btn-primary" style="width:100px; cursor:pointer; height: 35px;" [disabled]="disableNext || showRegisterError" (click)="onSubmit()" >Next</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="secondFormGroup" [completed]="isCompletedMail">
                        <ng-template matStepLabel>Verify Email Address</ng-template>
                        <form  [formGroup]="secondFormGroup" class="mt-4">
                            <div class="row mt-5 center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Email Address:</label>
                                </div>
                                <div class="col-5">
                                    <input id="field-3" type="email" class="form-control" formControlName="email">
                                    <div *ngIf="secondFormGroup.get('email')?.errors && secondFormGroup.get('email')?.touched">
                                        <div *ngIf="secondFormGroup.get('email')?.hasError('required')" class="text-danger">Email is required.</div>
                                        <div *ngIf="secondFormGroup.get('email')?.hasError('invalidEmail')" class="text-danger">Enter a valid email address
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4 center-button">
                                <div class="col-3 mt-1">
                                    <label><span style="color:red;">*</span> Verification Code:</label>
                                </div>
                                <div class="col-5">
                                    <input id="field-3" type="text" class="form-control" formControlName="code" (keyup)="checkCode($event)">
                                </div>
                            </div>
                            <div *ngIf="showCodeError" class="alert alert-danger mt-3" role="alert" style="width: initial; height: 45px; text-align: center !important;">
                                {{message}}
                            </div>
                            <div class="mt-5 center-button">
                                <button type="button" class="btn btn-primary" style="width:100px;cursor:pointer;" [disabled]="disableCode || showCodeError"  (click)="onNext(true)">Next</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="thirdFormGroup" [completed]="isCompletedMail">
                        <ng-template matStepLabel>Finished</ng-template>
                        <div class="mt-2 center-button">
                            Registered!!
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        <!-- </div> -->
    </div>
</div>