<div class="footer">
    <div class="footer-content">
        <div class="footer-info">
            <a href="" target="_blank">About Us</a>
            <a href="" target="_blank">Contact Us</a>
            <a href="" target="_blank">Products</a>
        </div>
        <div class="footer-copyright">
            <a href="" target="_blank">Cookie</a>
            <a>|</a>
            <a href="" target="_blank">Privacy Policy</a>
            <a>|</a>
            <a href="" target="_blank">Terms of Use</a>
            <a>|</a>
            <a href="" target="_blank">Subscribe</a>
        </div>
    </div>
</div>