<div class="device-container">
    <div class="row header">
       <div class="col-2 mt-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" >
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
       </div>
       <div class="col-7 mt-3">
            <div class="alerts">
                <span><i class="fa-regular fa-circle-check" style="color: #76D9AF; font-size:14px;"></i></span>
                <span class="alert-text">Normal</span>
                <span class="alert-text">7</span>
            </div>
            <div class="alerts">
                <span><i class="ri-alarm-warning-line" style="color: red; font-size:14px;"></i></span>
                <span class="alert-text">Alarm</span>
                <span class="alert-text">7</span>
            </div>
            <div class="alerts">
                <span><i class="fa-regular fa-circle-check" style="color: #76D9AF; font-size:14px;"></i></span>
                <span class="alert-text">Offline</span>
                <span class="alert-text">7</span>
            </div>
            <div class="alerts">
                <span><i class="fa-regular fa-circle-xmark" style="font-size:14px;"></i></span>
                <span class="alert-text">Inactive</span>
                <span class="alert-text">7</span>
            </div>
       </div>
       <div class="col-3">
            <button type="button" class="btn btn-primary" style="float:right;">+ New Device</button>
       </div>
    </div>
</div>